/* Word Color Palette*/
.keyword {
    background-color: transparent;
    font-weight: bold;
}

.phrase {
    background-color: rgb(255, 255, 204);
    /*text-decoration: underline;*/
}

.object-Term {
    background-color: rgb(255, 255, 204);
    font-weight: bold;
    /*text-decoration: underline;*/
}

.category {
    font-weight: bold;
    font-size: large;
}

.subCategory{
    font-size: small;
}

.others {
    fill: grey;
}
